{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ post.title_tag }}
{% endblock %}

{% block content %}


    <h1>{{ post.title }}</h1>
    <small>By: {{ post.author.first_name }}
        {{ post.author.last_name }}</small><br/>
    <hr>
    <br/>
    <div>
    {{ post.body|safe }}<br>
        {% if post.header_image %}
            <img src="{{ post.header_image.url }}" >
        {% endif %}
    </div>

    {{ post.added_date }} UTC

    <br/><br/>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id or user.id == user.is_superuser %}
            <a class="btn btn-primary" href="{% url 'update_post' post.id %}">EDIT</a>
            <a class="btn btn-danger" href="{% url 'delete_post' post.id %}">DELETE</a>
        {% endif %}
    {% endif %}

<br>
<hr>
<br>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
    {% if liked %}
    <button type="submit" name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">DisLike</button>
    {% else %}
    <button type="submit" name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
    {% endif %}
    {% endif %}
    {% if total_likes > 1 %}
    {{ total_likes }} Likes
    {% else %}
    {{ total_likes }} Like
    {% endif %}
</form>
<br><br>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-2">
    {% if post.author.profile.profile_pic %}
      <img src="{{ post.author.profile.profile_pic.url }}" class="card-img rounded-circle" height=200>
    {% else %}
        <img src="{% static 'theblog/images/default-pic.jpg' %}" class="card-img rounded-circle" >
        {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
            {{ post.author.first_name }}
            {{ post.author.last_name }}</h5>
          <p class="small text-muted">
              {% if post.author.profile.website_url %}
              <a href="{{ post.author.profile.website_url }}"> Website </a>
              {% endif %}

              {% if post.author.profile.facebook_url %}
              <a href="{{ post.author.profile.facebook_url }}">Facebook </a>
              {% endif %}

              {% if post.author.profile.instagram_url %}
              <a href="{{ post.author.profile.instagram_url }}">Instagram </a>
              {% endif %}

              {% if post.author.profile.telegram_url %}
              <a href="{{ post.author.profile.telegram_url }}">Telegram </a>
              {% endif %}

              {% if post.author.profile.github_url %}
              <a href="{{ post.author.profile.github_url }}">Github </a>
              {% endif %}

              {% if post.author.profile.linkedin_url %}
              <a href="{{ post.author.profile.linkedin_url }}">Linkedin</a>
              {% endif %}
          </p>
        <p class="card-text">{{ post.author.profile.bio }}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<br><br>
<h2>Comments</h2>
<br>
{% if not post.comments.all %}
    No Comments Yet ... <a href="{% url 'add_comment' post.pk %}">
                           Add one </a>
{% else %}
<a href="{% url 'add_comment' post.pk %}">Add Comment</a><br>
    {% for comment in post.comments.all %}
        <strong>
            {{  comment.name }} - {{ comment.date_added }}
        </strong>
<br>
        {{ comment.text }}
    {% endfor %}
    {% endif %}
<br><br>



{% endblock %}